$base-size: 12px;

$darkGray: #2a2a2a;
$veryDarkGray: #292929;
$white: #ffffff;
$black: #000;
$mediumDarkGray: #b6b6b6;
$gray: #a5a5a5;
$mediumGray: #a9a9a9;
$lightGray: #d8d8d8;
$mediumLightGray: #e2e2e2;
$veryLightGray: #e1e1e1;
$text-color: $darkGray;
