@import "../../../styles/settings.scss";

.root {
  margin-bottom: 50px;
}

.icon {
  color: $color-main;
  transform: scale(1.5);
  margin-right: 20px;
}

.topBar {
  background-color: $white;
  z-index: -1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}